domain: dev
project: anm
users:
- name: user1
regions: 
  RegionOne:
    net_scopes:
      test:
        dns_record_order: round-robin
        dns_reverse_zone: true
        dns_ttl: 86400
        cidr: 192.168.140.0/25
    quotas:
      instances: 10
      cores: 20
      ram: 32000
      networks: 10
      subnets: 10
      ports: 20
      routers: 5
      gigabytes: 200
      snapshots: 20
      volumes: 20
